body {
	font-family: 'Roboto', 'Open Sans', sans-serif;
	background-image: url('full-bg.png');
	background-size: cover;
	color: white;
}

.wrapper {

	margin-left: 42%;
	width: 55%;

}

.main {

}

.border {
	background-image: url('border.png');
	background-repeat: repeat;
}

.border-x {
	height: 4px;
	width: 100%:;
}

.border-y {
	height: 100%;
	width: 4px;
	position: absolute;
	top: 0;
	bottom: 0;
}

.border-left {
	left: 0;
}

.border-right {
	right: 0;
}

.floatme {
	position: relative;
}

.border-bottom {
	background-position: center bottom;
}

.border-top {
	background-position: center top;
}

.main .padded {
}

.content {
	float: left;
}

.clearfix:after {
	content: " ";
	min-height: 1px;
	clear: both;
	display: block;
}

p, h2, h1 {
	font-size: 25px;
	color: #0d293c;
	line-height: 1.25em;
	font-weight: 300;
	text-align: center;
}

h1, h2 {
	font-size: 32px;
}

.form-control {
	width: 250px;
	padding: 18px 15px 8px;
	font-size: 20px;
	line-height:30px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	border: 0px;
	color:    #0d293c;
	font-weight: 300;

	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.55);
}

.form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #0d293c;
    font-weight: 300;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #0d293c;
   font-weight: 300;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #0d293c;
   font-weight: 300;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #0d293c;
   font-weight: 300;
}

.form-control:focus,
.btn:focus {
	outline: 0;
}

.btn {
	text-indent: -333px;
	text-indent: -5000px;
	width: 130px;
	border: 0px;
	background-image: url('yes-please.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.btn:hover {
	opacity: 1;
}

.form-inline:after {
	content: "";
	display: block;
	min-height: 1px;
	clear: both;
}

.form-inline .form-group {
	padding: 20px 9px 0;
}

.form-inline .form-group,
.form-inline .btn {
	float: right;
}
